<!-- views/nextcloud.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accès à Nextcloud</title>
</head>
<body>
    <h1>Bienvenue, <%= user.sAMAccountName %> !</h1>
    <p>Cliquez sur le bouton ci-dessous pour accéder à Nextcloud.</p>
    
    <form action="/nextcloud" method="get">
        <button type="submit">Accéder à Nextcloud</button>
    </form>
</body>
</html>
