body {
  background-color: #e0f7fa; /* Fond bleu clair */
}
.project-title {
  text-align: center;
  margin-bottom: 20px;
  color: #00796b; /* Couleur du texte */
  font-weight: bold;
  font-size: 28px; /* Taille du titre */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre portée pour le texte */
}
.btn-custom {
  background-color: #00796b; /* Couleur personnalisée pour le bouton */
  border: none;
  transition: background-color 0.3s, transform 0.2s; /* Animation de transition */
}
.btn-custom:hover {
  background-color: #004d40; /* Couleur plus foncée au survol */
  transform: scale(1.05); /* Zoom au survol */
}
.alert {
  margin-bottom: 20px; /* Espace supplémentaire pour les alertes */
}
.card {
  background-color: #f0f0f1; /* Couleur de fond correspondant au fond autour du logo */
  border: none; /* Enlève la bordure pour un look plus net */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une légère ombre */
}
.logo {
  max-width: 100%; /* S'assure que l'image est responsive */
  height: auto; /* Conserve le ratio d'aspect */
}

/* Ajoutez cette règle pour centrer le logo */
.card-body {
  text-align: center; /* Centre tout le contenu du card-body */
}
