/* Personnalisation globale */
body {
  background-color: #003366; /* Bleu sombre */
  color: white;
  font-family: 'Arial', sans-serif;
}

/* Style pour la barre de navigation */
.navbar {
  background-color: #004080; /* Bleu légèrement plus clair */
}

.navbar-brand, .nav-link {
  color: white !important;
}

.navbar-brand:hover, .nav-link:hover {
  color: #ccccff !important; /* Bleu pâle clair au survol */
}

/* Style pour le conteneur principal */
.container {
  background-color: #0059b3; /* Fond bleu plus vif pour les sections principales */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Style pour les boutons */
.btn-primary {
  background-color: #0066cc;
  border-color: #005bb5;
}

.btn-primary:hover {
  background-color: #004080;
}

/* Style des listes et autres éléments */
.list-group-item {
  background-color: #003366;
  border-color: #0059b3;
  color: white;
}

.list-group-item:hover {
  background-color: #004080;
}

/* Dropdown personnalisé */
.dropdown-menu {
  background-color: #004080;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #003366;
}
